$primary-text-color: #212121;
$second-color: #757575;
$accent-color: #2196f3;
$text-white: #ffffff;
$first-color: #2f303a;
$third-color: #188ce8;
$quarter-color: #f5f4fa;
$fifth-color: #000000;
$sixth-color: rgba(255, 255, 255, 0.6);
$sevents-color: #afb1b8;
$eighth-color: #eeeeee;
$card-set: 30px;
