.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid rgb(21 21 21);
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 12px;
}
.checkbox:checked + .icon {
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--second-color);
  padding: 0;
  margin-right: 3px;
}
.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding: 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.forma-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
