.footer-info {
  background-color: var(--first-color);
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  align-items: baseline;
}
